@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-hidden;
}

body {
  @apply text-slate-800 fixed;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  @apply w-full;
  font-size: 16px;
  padding: 0 !important;
}

@screen lg {
  html {
    @apply overflow-visible !important;
  }

  body {
    @apply static;
  }

  html,
  body {
    font-size: 18px;
  }
}

.react-modal-sheet-container {
  @apply rounded-t-3xl !important;
  box-shadow: 0 -5px 60px 0 rgba(38, 89, 115, 0.15),
    0 -1px 0 rgba(38, 89, 115, 0.05) !important;
}

.sheet-header {
  @apply text-slate-500 block text-center text-sm font-bold pt-7 pb-3;
}

.sheet-header::before {
  @apply bg-slate-300 block w-9 h-1 absolute top-3 left-1/2 -translate-x-1/2 rounded;
  content: '';
}
